@{
    ViewData["Title"] = "Home Page";
}
 
    <!--MAIN: contiene todo lo principal de la pagina dividido por secciones-->
    <main>
        <!--section: primer seccion de LOGO Y pequena descripcion-->
        <section class="container mt-3">
            <div class="row">
                <div class="col-md-8">
                    <img src="img/principal.avif" class="img-fluid" alt="Imagen">
                </div>
                <div class="col-md-4">
                    <h2 class="mb-3 text-center">Mercado del Artesano</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed
                        cursus ante dapibus diam.
                    </p>
                </div>
            </div>
        </section>
        <!--section: segundo seccion de NOVEDADES-->
        <section>
            <div id="carouselExampleControls" class="carousel slide mb-5 mt-3 bg-light" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active mt-3">
                        <div class="container">
                            <div class="row">
                                <h3 class="text-center mb-4">Novedades</h3>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/1.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/2.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/3.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/6.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/4.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/5.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active mt-3">
                        <div class="container">
                            <div class="row">
                                <h3 class="text-center mb-4">Novedades</h3>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/1.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/2.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/3.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/6.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/4.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/5.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agregar mas productos en el carrusel -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span>Next</span>
                </button>
            </div>
        </section>
        <section>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="card">
                            <img src="img/5.jpg" class="card-img-top" alt="Imagen 1">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="card">
                            <img src="img/2.jpg" class="card-img-top" alt="Imagen 2">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--section: segundo seccion de NOVEDADES-->
        <section>
            <div id="carouselExampleControls" class="carousel slide mb-3 mt-1 bg-light" data-bs-ride="carousel">
                <div class="carousel-inner ">
                    <div class="carousel-item active mt-3">
                        <div class="container">
                            <div class="row">
                                <h3 class="text-center mb-4">Novedades</h3>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/1.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/2.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/3.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/6.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/4.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/5.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item active mt-3">
                        <div class="container">
                            <div class="row">
                                <h3 class="text-center mb-4">Novedades</h3>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/1.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/2.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/3.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/6.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/4.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 mb-2">
                                    <div class="card">
                                        <div style="height: auto;">
                                            <img src="img/5.jpg" class="card-img-top">
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">Description</p>
                                            <p class="card-text">$33.00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Agregar mas productos en el carrusel -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span>Next</span>
                </button>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class=" mb-4 h-100">
                            <div class="card-body">
                                <div style="height: auto;">
                                    <img src="img/vertical.jpg" class="card-img-top">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class=" mb-1 h-100">
                                        <div style="height: auto;">
                                            <img src="img/horizontal.webp" class="card-img-top">
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" mb-2">
                                    <div class="card-body">
                                        <div>
                                            <img  style="height: 330px;" src="img/6.jpg" class="card-img-top">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" mb-2">
                                    <div class="card-body">
                                        <div >
                                            <img style="height: 330px;" src="img/6.jpg" class="card-img-top">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       
        <section>
            <div class="container mb-5 mt-2">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="img/ceramica.png" class="img-fluid ms-5" style="height: 200px;" alt="Imagen">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Mercado virtual del artesano salvadoreno</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                                    nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                                <p class="card-text"><small class="text-muted">Última actualización hace 3
                                        minutos</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="card-body">
                                <h5 class="card-title">Productos Unicos</h5>
                                <p class="card-text">Si estas buscando un producto artesanal Unicos
                                    este es tu MarketPlace.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <h5 class="card-title">Productos Salvadorenos</h5>
                                <p class="card-text">Mercado virtual que todo salvadoreno tiene la posibilidad de 
                                    dar a conocer sus artesanias.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <h5 class="card-title">Pequenos Emprendedores</h5>
                                <p class="card-text">Mercado virtual que reune a todos los Emprendedores
                                    salvadorenos para sus pequenos emprendimientos.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <h5 class="card-title">#EmprendedoresUnidos</h5>
                                <p class="card-text">Crea tu tienda virtual y vende tus productos artesanos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>